@charset "UTF-8";
/*
 * Author      : Manfred Rosenboom
 * Site        : http://manfred.rosenboom.name/
 * Last Update : Tue, 10 Sep 2013 13:19:00 +0200
 * License     : Creative Commons Attribution 3.0 Unported License
 *               http://creativecommons.org/licenses/by/3.0/
 * =============================================================================
 */
@font-face {
    font-family: "Yanone Kaffeesatz";
    font-style: normal;
    font-weight: 200;
    src: local("Yanone Kaffeesatz ExtraLight"), local("YanoneKaffeesatz-ExtraLight"), url(fonts/YanoneKaffeesatz.woff) format("woff");
}

/*
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
/* ----- */

body {
    background: #111 url("bg.jpg") no-repeat fixed center center;
    background-size: cover;
    line-height: 1;
    font-size: 10px;
    min-width: 240px;
}

header, section, footer {
    margin: 0 5%;
    clear: both;
}

header {
    margin-top: 5%;
}

section {
    margin-top: 10px;
}

footer {
    margin-top: 20px;
}

footer>hr {
    margin: 0 0 10px 0;
    padding: 0;
    width: 50%;
    max-width: 400px;
}

time {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #000;
    opacity: .6;
    padding: 1px 5px;
}

a {
    color: #FFF;
    text-decoration: none;
}

h1, h2 {
    color: #FFF;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 200;
    text-shadow: 1px 1px 0 #333;
}

h1 {
    font-size: 600%;
    letter-spacing: 8px;
    text-transform: uppercase;
    word-wrap: break-word;
}

h2 {
    font-size: 340%;
    letter-spacing: 1px;
}

#social {
    margin-top: 20px;
}

#social img {
    width: auto;
    height: 24px;
}

#social a {
    margin: 0 4px 0 0;
}

#social a:hover {
    opacity: .6;
}

#content {
    margin-top: 10px;
}

#bio {
    width: 60%;
    min-width: 200px;
    max-width: 600px;
    color: #FFF;
    font-family: Georgia, Cambria, "Times New Roman", serif;
    font-size: 200%;
    line-height: 1.5em;
    text-shadow: 1px 1px 0 #333;
    background:rgba(0,0,0,0.6);
    border: 1px solid black;
}

#bio p {
    margin: 10px 0;
}

#bio a {
    color: #ECCFAE;
}

#bio a:hover {
    color: #FFF;
}

#bio_photo {
    float: left;
    width: 200px;
    padding: 0 10px 10px 0;
}
#bio_photo img {
    border: 1px solid black;
    opacity: 1;
}

#validation {
    padding-left: 20px;
}


@media screen and (min-width: 440px) and (max-width: 660px) {
    h1 {
        font-size: 3em;
        letter-spacing: 5px;
    }

    h2 {
        font-size: 2em;
    }
    #bio {
        font-size: 1.8em;
        clear: both;
        margin: 0;
    }
}

@media screen and (min-width: 340px) and (max-width: 439px) {
    h1 {
        font-size: 2em;
        letter-spacing: 3px;
    }

    h2 {
        font-size: 1.8em;
    }
    #bio {
        font-size: 1.6em;
        clear: both;
        margin: 0;
    }
}

@media screen and (min-width: 1px) and (max-width: 339px) {
    h1 {
        font-size: 1.6em;
        letter-spacing: 1px;
    }

    h2 {
        font-size: 1.4em;
    }
    #bio {
        font-size: 1.4em;
        clear: both;
        margin: 0;
    }
}
