<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="personal homepage: components in use">
    <meta name="author" content="Manfred Rosenboom">
    <meta name="keywords" content="personal home components, Bootstrap, jQuery"/>
    <meta name="robots" content="index, follow">
    <title>Personal Homepage: Components in Use</title>
    <link rel="author" href="https://plus.google.com/111734916644977555553/about"/>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body>

<header>
    <h1>Personal Homepage: Components in Use</h1>
    <hr/>
</header>

<main>
    <section>
        <p>
            This one page site uses the following components:
        </p>
        <ul>
            <li><a href="./bootstrap-3.3.7-dist.zip">Bootstrap 3.3.7</a></li>
            <li style="list-style: none;">
                <ul>
                    <li style="list-style: square;"><a href="https://getbootstrap.com/">Bootstrap Homepage</a></li>
                </ul>
            </li>
            <li><a href="./jquery-3.2.1.min.js">jQuery 3.2.1 minified</a> (, <a href="./jquery-3.2.1.js">jQuery
                3.2.1</a>)
            </li>
            <li style="list-style: none;">
                <ul>
                    <li style="list-style: square;"><a href="https://jquery.com">jQuery Homepage</a>
                </ul>
            </li>
            <li><a href="./font-awesome-4.7.0.zip">Font Awesome 4.7.0</a></li>
            <li style="list-style: none;">
                <ul>
                    <li style="list-style: square;"><a href="http://fontawesome.io/">Font Awesome</a></li>
                </ul>
            </li>
        </ul>
        <p>
            The page design is inspired by the <a href="https://startbootstrap.com/template-overviews/landing-page/">Landing Page Template</a>.
            I have used this <a href="./startbootstrap-landing-page-gh-pages.zip">Landing Page Template software</a>
            version as a starting point for my page.
        </p>
    </section>
</main>

<footer>
    <hr/>
    <p>
        Copyright &copy; 2017 Manfred Rosenboom <br/>
        Last update: <time datetime="2017-06-28T15:48+0200">Wed, 28 Jun 2017 15:48 CEST</time>
    </p>
</footer>

</body>
</html>
